:root {
  --accent-color: fuchsia;
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  background-color: rgb(166, 166, 166);
}
button,
input,
select {
  font: inherit;
}
input::placeholder {
  padding-left: 20px;
}
.container {
  margin: 0 auto;
}
.expenses {
  margin-top: 50px;
  padding: 30px 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  row-gap: 50px;
  width: 1100px;
  margin: 0 auto;
  border: 5px solid #fff;
  border-radius: 30px;
}
.title {
  margin: 20px auto;
  color: #fff;
  font-size: 50px;
  text-align: center;
}
.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
input,
select {
  padding: 20px;
  width: 500px;
  border: 3px solid var(--accent-color);
  border-radius: 10px;
  outline: none;
}
button:hover {
  opacity: 0.5;
}
option:hover {
  background-color: var(--accent-color);
}
.label {
  font-weight: 700;
}
.input-value {
  
}
.category-list {
  cursor: pointer;
}
.button {
  cursor: pointer;
  padding: 10px 20px;
  width: 200px;
  border: 2px solid var(--accent-color);
  border-radius: 10px;
}
.button-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.button-add {
  background-color: var(--accent-color);
  color: #fff;
}
.button-clear {
}
.value-wrapper {
  display: flex;
  gap: 50px;
}
.users-values {
}
.value-limit {
}
.value-sum {
}
.status-status {
  margin-top: 20px;
}
.value-status {
  color: rgb(20, 204, 20);
}
.user-history {
}
.history-list {
}

.button-limit {
  background-color: rgb(166, 166, 166);
  border: none;
  cursor: pointer;
}
ol {
  list-style-position: inside;
}
.red {
  color: rgb(243, 3, 3);
}

@media only screen and (max-width: 1099px) {
  body {
    font-size: 20px;
    line-height: 25px;
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .expenses {
    padding: 30px 15px;
    width: 100%;
  }
  .title {
    line-height: 50px;
  }
  .value-wrapper {
    flex-direction: column;
  }
  
  
}

@media only screen and (max-width: 767px) {
  
  input,
  select {
    width: 100%;
  }
}